---
import Header from "../components/landing-section/header.svelte";
import Layout from "../layouts/Layout.astro";
import Sitemap from "../sections/sitemap.svelte";
import Contact from "../sections/contact.svelte";
---

<Layout title="About us">
    <div class="sticky top-0 z-50">
        <Header
            product={"https://adibricks.in/#products"}
            contact={"#contact"}
        />
    </div>
    <section class="p-8 md:px-20 py-16 md:py-32">
        <h1 class="font-bold">About Us</h1>
        <p>
            <strong>Adi Fly Ash Brick Manufacturer</strong> is an innovative company founded in the year <strong>2022</strong>. It manufactures bricks with a little difference.It turns an industrial waste into an eco-friendly product, thereby protecting the environment and reducing the carbon footprint.<strong>Adi Fly Ash Brick Manufacturer's</strong> goal is to bridge the gap between affordable housing and heightened construction costs. We bring in innovative, cost-effective, durable and functional building technology solutions that are eco-friendly and environmentally sustainable.
        </p>
        <br>
        <div class="row">
            <table width="100%" cellspacing="0" cellpadding="4">
                <colgroup>
                    <col width="128*"> 
                    <col width="128*"> 
                </colgroup>
                <tbody>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>Nature of Business</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">Manufacturer, Wholesaler and Supplier</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>Location</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">Haridashmati, Berhampore, Murshidabad, West Bengal, India</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>Year of Establishment</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">2022</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>No. of Employees</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">25</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>No. of Production Units</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">01</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>Warehousing Facility</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">01</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>Annual Turnover</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">1.5 Crore</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>GST No.</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">19AEOPL7803C1ZE</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>Banker</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">Bank of India (Branch: Khagra)</td>
                    </tr>
                    <tr valign="TOP">
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;"><strong>Brand Name</strong></td>
                        <td width="50%" style="border: 1px solid #000000; padding: 0.1cm;">Adi</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
    <section>
        <Contact />
    </section>
    <section class="w-screen bg-black">
        <Sitemap />
    </section>
</Layout>
