---
import Header from "../components/landing-section/header.svelte";
import Layout from "../layouts/Layout.astro";
import Sitemap from "../sections/sitemap.svelte";
import Contact from "../sections/contact.svelte";
---

<Layout title="About us">
    <div class="sticky top-0 z-50">
        <Header
            product={"https://adibricks.in/#products"}
            contact={"#contact"}
        />
    </div>
    <section class="p-8 md:px-20 py-16 md:py-32">
        <h1 class="font-bold">Blah Blah Blah</h1>
        <pre>
            Me Adi
            <br /> <br>
            <b>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus,
            deleniti beatae.</b> Temporibus quo obcaecati, facere voluptas officiis quos
            dolore consequuntur <u>atque est</u>, autem vitae porro quidem repellendus voluptate
            corrupti soluta.
        </pre>
    </section>
    <section>
        <Contact />
    </section>
    <section class="w-screen bg-black">
        <Sitemap />
    </section>
</Layout>
