@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Rubik&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply font-poppins;
    }
    h2 {
        @apply font-rubik
    }
    p {
        @apply font-rubik
    }
}
